extends layout 

block content 

  h1= title

  div.container(style="width:fit-content")
    form(action="" method="POST")
      div.form-group
        label(for="name") Brand:
        if undefined === newBrand 
          input.form-control(type="text" name="name")
        else 
          input.form-control(type="text" name="name" value=newBrand.name)
    
      div.form-group
        label(for="website") Website: 
        if undefined === newBrand 
          input.form-control(type="text" name="website" website)
        else 
          input.form-control(type="text" name="website" value=newBrand.website website)
      
      div.form-group
        label(for="password") Admin Password: 
          input#password.form-control(type="password" name="password")
      
      div.form-group
        button.btn.btn-primary.form-control(type="submit")  Submit

  if errors
    ul 
      for error in errors 
        li=error.msg 
            
      