body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
  font-size: large;
  padding: 3px;
}

button {
  padding: 3px;
}